<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404 - Página no encontrada</title>
  <link rel="stylesheet" href="css/error.css">
  
  
</head>
<body>
  <div class="container"> 
    <div class="glow"></div>
    <div class="number">404</div>
    <div class="message">No pudimos encontrar esta página</div>
    <div class="submessage">Es posible que la página que estás buscando ya no exista o haya sido movida. Te pedimos disculpas por los inconvenientes.</div>
    <a href="index.html" class="home-button">VOLVER AL INICIO</a>
  </div>

</body>
</html>
